<div class="d-flex justify-content-center pt-3" >
  <div class="col-6">
    <%= simple_form_for @inventory, :class => "form-group" do |f| %>
      <%= f.input :inventory_type, :label => "Tipo de inventariado", as: :select, :collection => %w[ingreso salida equivocacion], :class => "form-control"%>
      <%= f.input :quantity, :label => "Cantidad", :class => "form-control"%>
      <%= f.association :item, include_blank: false, label_method: lambda { |item| "#{item.id} | #{item.name}" } %>
      <%= f.submit "Crear Inventario", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
