
  <div class="general-card mb-3">
    <div class="general-image">
      <% unless elem.image.service_url.nil?  %>
        <%= link_to child_path, {query: elem.name} do %>
          <%= cl_image_tag elem.image.key, width: 300, height: 200, crop: :fit, :class => ""%>
        <% end %>
      <% end %>
    </div>
    <div class="general-info">
      <%= link_to child_path, {query: elem.name} do %>
        <h1> <%= elem.name %></h1>
        <p><strong>Descripcion:</strong><%= elem.description %></p>
      <% end %>
      <br/>
      <% if current_user.admin? %>
        <%= button_to "Eliminar", elem_path, method: :delete, data: { confirm: "Estas seguro? si eliminas un tipo, te eliminaras todos sus subtipos, los items asociados a esos subtipos y las reservaciones que anteriormente se hayan hecho" }, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
