
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://raw.githubusercontent.com/cesar214567/yllen/main/app/assets/images/yllen.jpg);">
  <div class="container ">
    <h1><strong>Yllen</strong></h1>
    <p>Calidad y Elegancia a tu alcance</p>
    <%= link_to "Ingresar!", items_path, style:"background-color: #466a8e; color: white; padding: 15px; padding-left: 40px; padding-right: 40px; border-radius: 5px;"%>
  </div>
</div>


<div class="container vh-60 mt-5" style="margin-bottom: 64px;">
  <div class="row">
    <div class="col-5">
      <h3 class= "subtitle-homepage2">Vision</h3>
      <hr>
      <p class="mt-4">
        Ser referentes en la fabricación y comercialización de accesorios 
        de moda y productos diversos/afines que ayuden a resaltar la 
        belleza de la persona, reconocida por su calidad, innovación y 
        compromiso social, contribuyendo al bienestar de nuestras 
        comunidades.
      </p>
      <h3 class= "subtitle-homepage2">Vision</h3>
      <hr>
      <p class="mt-4">
        Dedicarnos a la fabricación y venta de accesorios de moda, 
        con un enfoque en la diversidad de nuestras pulseras y otros 
        accesorios, no solo personalizadas, sino también de variedad 
        en estilos y diseños. Estamos comprometidos con la excelencia 
        en calidad, diseño y servicio al cliente, inspirados a través de 
        la creatividad y el compromiso social. Mantenemos nuestro 
        compromiso con la responsabilidad social y el cuidado del medio 
        ambiente en todas nuestras prácticas.
      </p>


    </div>
    <div class="col-2"></div>
      <div class="col-5 cards ">
        <%= link_to "items?query=collares&commit=Search" do %>
          <div class="card mb-3" >
            <%= image_tag "https://m.media-amazon.com/images/I/5149Wjty7QL._AC_UX500_.jpg", class: "card-img-top"%>
            <div class="card-body bg-warning text-white">
              <h6 class="card-title"><strong>Collares</strong></h6>
              <hr>
              <p class="card-text">Encuentre collares de todo tipos </p>
            </div>
          </div>
        <% end %>

        <%= link_to "items?query=brazaletes&commit=Search" do %>
          <div class="card" >
            <%= image_tag "https://i.pinimg.com/550x/bf/b3/7a/bfb37a8e3f155e495357fc56fd4be9ea.jpg", class: "card-img-top"%>
            <div class="card-body bg-warning text-white">
              <h6 class="card-title"><strong>Brazaletes</strong></h6>
              <hr>
              <p class="card-text">Brazaletes de piedras finas </p>
            </div>
          </div>
        <% end %>

        <%= link_to "items?query=aretes&commit=Search" do %>
          <div class="card" >
            <%= image_tag "https://belcorpperu.vtexassets.com/arquivos/ids/273286-800-800?v=638242852684430000&width=800&height=800&aspect=true", class: "card-img-top"%>
            <div class="card-body bg-warning text-white">
              <h6 class="card-title"><strong>Aretes</strong></h6>
              <hr>
              <p class="card-text">De todos tipos  </p>
            </div>
          </div>
        <% end %>


        <%= link_to "items?query=aretes&commit=Search" do %>
          <div class="card" >
            <%= image_tag "https://cdn2.excelsior.com.mx/media/pictures/2020/10/20/2462169.jpg", class: "card-img-top"%>
            <div class="card-body bg-warning text-white">
              <h6 class="card-title"><strong>Peluches</strong></h6>
              <hr>
              <p class="card-text">De diferentes tamaños </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class=" mini-banner-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url('instagram.jpeg'); margin-top: 80px;">
    <div class="row pl-4 flex-lg-row-reverse align-items-center g-5 py-5 fixed">
      <div class="col-10 col-sm-8 col-lg-6 fixed">
        <%= image_tag "instagram.jpeg", class: "d-block mx-lg-auto img-fluid fixed"%>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Explora nuestro catalogo!</h1>
        <p class="lead">Crea tu propia cuenta y revisa nuestro catálogo diariamente actualizado </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" href="/users/sign_in" class="btn btn-primary btn-lg px-4 me-md-2">Explora nuestro catalogo!</a>
        </div>
      </div>
    </div>
  </div>
</div>
