
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://joyeriarelojeriacaprichos.com/blog/wp-content/uploads/2021/02/Bisuteria_artesanal-840x473.jpg);">
  <div class="container ">
    <h1><strong>Yllen</strong></h1>
    <p>Calidad y Elegancia a tu alcance</p>
    <%= link_to "Ingresar!", items_path, style:"background-color: #466a8e; color: white; padding: 15px; padding-left: 40px; padding-right: 40px; border-radius: 5px;"%>
  </div>
</div>


<div class="container vh-60 mt-5" style="margin-bottom: 64px;">
  <div class="row">
    <div class="col-5">
      <h3 class= "subtitle-homepage2">Best Community</h3>
      <hr>
      <p class="mt-4">
        Bienvenido a nuestra joyería en línea, donde encontrará una amplia selección de hermosas y únicas piezas para adaptarse a cualquier estilo y ocasión. tenemos algo para todos, incluso joyería de moda. Nuestra colección está cuidadosamente seleccionada para incluir solo piezas de la más alta calidad a un bajo precio. Ya sea que esté buscando un regalo especial para un ser querido o un regalo para usted, seguramente encontrará algo que le encante. Y con nuestro pedido en línea fácil y envío rápido, comprar joyas nunca ha sido más conveniente. Explore nuestra colección hoy y descubra la pieza perfecta para usted.
      </p>



    </div>
    <div class="col-2"></div>
      <div class="col-5 cards ">
        <%= link_to "items?query=collares&commit=Search" do %>
          <div class="card mb-3" >
            <%= image_tag "https://m.media-amazon.com/images/I/5149Wjty7QL._AC_UX500_.jpg", class: "card-img-top"%>
            <div class="card-body bg-warning text-white">
              <h6 class="card-title"><strong>Collares</strong></h6>
              <hr>
              <p class="card-text">Encuentre collares de todo tipos </p>
            </div>
          </div>
        <% end %>

        <%= link_to "items?query=brazaletes&commit=Search" do %>
          <div class="card" >
            <%= image_tag "https://i.pinimg.com/550x/bf/b3/7a/bfb37a8e3f155e495357fc56fd4be9ea.jpg", class: "card-img-top"%>
            <div class="card-body bg-warning text-white">
              <h6 class="card-title"><strong>Brazaletes</strong></h6>
              <hr>
              <p class="card-text">Brazaletes de piedras finas </p>
            </div>
          </div>
        <% end %>

        <%= link_to "items?query=aretes&commit=Search" do %>
          <div class="card" >
            <%= image_tag "https://belcorpperu.vtexassets.com/arquivos/ids/273286-800-800?v=638242852684430000&width=800&height=800&aspect=true", class: "card-img-top"%>
            <div class="card-body bg-warning text-white">
              <h6 class="card-title"><strong>Aretes</strong></h6>
              <hr>
              <p class="card-text">De todos tipos  </p>
            </div>
          </div>
        <% end %>


        <%= link_to "items?query=aretes&commit=Search" do %>
          <div class="card" >
            <%= image_tag "https://cdn2.excelsior.com.mx/media/pictures/2020/10/20/2462169.jpg", class: "card-img-top"%>
            <div class="card-body bg-warning text-white">
              <h6 class="card-title"><strong>Peluches</strong></h6>
              <hr>
              <p class="card-text">De diferentes tamaños </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class=" mini-banner-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2015/01/82863-7-mejores-webs-comprar-joyas-bisuteria-online.jpg?itok=hR5Bw8_v); margin-top: 80px;">
    <div class="pt-5 ml-4">
      <h5>Explora nuestro catalogo!</h5>

      <button type="button" class="btn btn-light">Click Aqui!</button>
    </div>
  </div>
</div>
