
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://joyeriarelojeriacaprichos.com/blog/wp-content/uploads/2021/02/Bisuteria_artesanal-840x473.jpg);">
  <div class="container ">
    <h1><strong>Yllen</strong></h1>
    <p>Here goes the moto</p>
    <%= link_to "Ingresar!", items_path, style:"background-color: #466a8e; color: white; padding: 15px; padding-left: 40px; padding-right: 40px; border-radius: 5px;"%>
  </div>
</div>


<div class="container vh-60 mt-5" style="margin-bottom: 64px;">
  <div class="row">
    <div class="col-5">
      <h3 class= "subtitle-homepage2">Best Community</h3>
      <hr>
      <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis, tortor eu dignissim vehicula, felis velit cursus nisl, vitae aliquam elit quam sed turpis. Donec cursus eros velit, in elementum sapien gravida eget. Maecenas iaculis augue eget odio porttitor, nec volutpat dolor dignissim. Pellentesque sit amet efficitur ligula, eget volutpat orci. Cras diam eros, eleifend ut imperdiet ac, convallis at sapien. Fusce quis elit tincidunt quam bibendum interdum. </p>



    </div>
    <div class="col-2"></div>
      <div class="col-5 cards ">
        <%= link_to "items?query=collares&commit=Search" do %>
          <div class="card mb-3" >
            <%= image_tag "https://m.media-amazon.com/images/I/5149Wjty7QL._AC_UX500_.jpg", class: "card-img-top"%>
            <div class="card-body">
              <h5 class="card-title">Collares</h5>
              <p class="card-text">Encuentre collares de todos tipos </p>
            </div>
          </div>
        <% end %>

        <%= link_to "items?query=brazaletes&commit=Search" do %>
          <div class="card" >
            <%= image_tag "https://i.pinimg.com/550x/bf/b3/7a/bfb37a8e3f155e495357fc56fd4be9ea.jpg", class: "card-img-top"%>
            <div class="card-body">
              <h5 class="card-title">Brazaletes</h5>
              <p class="card-text">Encuentre brazaletes de todos tipos </p>
            </div>
          </div>
        <% end %>

        <%= link_to "items?query=aretes&commit=Search" do %>
          <div class="card" >
            <%= image_tag "https://esika.tiendabelcorp.com/cdn-cgi/image/width=1200,fit=contain,f=auto/https://belc-bigdata-mdm-images-prd.s3.amazonaws.com/images/FotoProductoFondoBlancoWebRedes/210093770-FotoFondoBlanco.jpg", class: "card-img-top"%>
            <div class="card-body">
              <h5 class="card-title">Aretes</h5>
              <p class="card-text">Encuentre brazaletes de todos tipos  </p>
            </div>
          </div>
        <% end %>


        <%= link_to "items?query=aretes&commit=Search" do %>
          <div class="card" >
            <%= image_tag "https://cdn2.excelsior.com.mx/media/pictures/2020/10/20/2462169.jpg", class: "card-img-top"%>
            <div class="card-body">
              <h5 class="card-title">Peluches</h5>
              <p class="card-text">Encuentre peluches de todos tipos </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class=" mini-banner-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2015/01/82863-7-mejores-webs-comprar-joyas-bisuteria-online.jpg?itok=hR5Bw8_v); margin-top: 80px;">
    <div class="promotion-banner-capitan">
      <h5>Explora nuestro catalogo!</h5>

      <button type="button" class="btn btn-light">Click Aqui!</button>
    </div>
  </div>
</div>
