<div class="d-flex justify-content-center">
  <div class="col-6">
    <%= simple_form_for @subtype, :class => "form-group" do |f| %>
      <%= f.input :name, :class => "form-control"%>
      <%= f.input :description, :class => "form-control"%>
      <%= f.input :image%>
      <%= f.association :type, :class => "form-control"%>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
